     
h1{
    color:#9376E0;
    font-size: 50px;
    text-indent: 1cm;
}
.bahce{
    margin-top: 100px;
    margin-left: 70px;
    margin-right: 70px;
    background-color:#bdaaf0;
}
.div{
    list-style: none; padding-left:0px; float:right ;
}
.menu{
    list-style: none;
     padding-left:0px; float:right ;
}